.log {
  margin: 10%;
  margin-left: 35%; }

.tigre {
  width: 104.85%;
  height: 100%;
  margin-left: -4%; }

.lope {
  margin-top: -20%;
  margin-left: 10%; }

.blanco {
  color: white; }

.abajo {
  margin-top: 15% !important; }

h3 {
  font-size: 2em !important; }

.iz {
  margin-left: 10%; }

.linea {
  display: inline-block; }

.topp {
  margin-top: 25%; }

.pa {
  margin-top: -1.5%; }

.topi {
  margin-top: 35%; }

.izq {
  margin-left: 6%; }

.pp {
  margin-top: 4%; }

.funciona {
  font-size: 1.5em; }

.alto {
  height: 50%; }
